<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<br><br>Hello world?<br>

Представляем вашему вниманию прототип прототипа прототипа прототипа прототипа прототипа без фронта (пока что) <br>
<br><br><br><br>

<a style="padding: 5px; background-color: #0E0F1C;" th:href="@{/tasks}"><i style="color: #FFFFFF">Добавить задачу</i></a><br><br>
<a style="padding: 5px; background-color: #0E0F1C;" th:href="@{/news}"><i style="color: #FFFFFF">Добавить новость</i></a><br><br><br><br>
<a style="padding: 5px; background-color: #0E0F1C;" th:href="@{/list}"><i style="color: #FFFFFF">Список задач</i></a><br><br>
<a style="padding: 5px; background-color: #0E0F1C;" th:href="@{/newslist}"><i style="color: #FFFFFF">Список новостей</i></a><br><br>
<a style="padding: 5px; background-color: #0E0F1C;" th:href="@{/newslist/moderated}"><i style="color: #FFFFFF">Список модерированных новостей</i></a><br><br>

</body>
</html>