<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<br>Hello world?

<a style="padding: 5px; background-color: darkgray;" th:href="@{/tasks}"><i style="color: #000000">Добавить задачу</i></a><br><br>
<a style="padding: 5px; background-color: darkgray;" th:href="@{/news}"><i style="color: #000000">Добавить новость</i></a><br><br><br><br>
<a style="padding: 5px; background-color: darkgray;" th:href="@{/list}"><i style="color: #000000">Список задач</i></a><br><br>
<a style="padding: 5px; background-color: darkgray;" th:href="@{/newslist}"><i style="color: #000000">Список новостей</i></a><br><br>

</body>
</html>