<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список принятых новостей</title>
</head>
<body>

<div th:each="post : ${moderatedList}">

  <div style="border: 1px dashed #FFFFFF; background-color: #0E0F1C; padding: 10px">
    id = <span th:text="${post.newsId}"></span>
    Заголовок = <span th:text="${post.newsTitle}"></span><br>
    Описание = <span th:text="${post.newsDescription}"></span><br>
    Загружено в = <span th:text="${post.newsUploadTime}"></span><br>
    Тег = <span th:text="${post.newsTag}"></span><br>
    Модерация = <span th:text="${post.moderated}"></span><br>
    <form th:action="@{/newslist/moder/{id}(id = ${post.newsId})}" method="post">
      <input type="submit" value="moderated">
    </form>
  </div>

</div>

</body>
</html>