<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список задач</title>
</head>
<body>

<div th:each="task : ${tasks}">

  <div style="border: 1px dashed #FFFFFF; background-color: #393c5d; padding: 10px">
    id = <span style="color: #FFFFFF" th:text="${task.taskId}"></span>
    Категория = <span style="color: #FFFFFF"  th:text="${task.taskCategory}"></span><br>
    Заголовок = <span style="color: #FFFFFF"  th:text="${task.taskTitle}"></span><br>
    Описание = <span style="color: #FFFFFF"  th:text="${task.taskDescription}"></span><br>
    Добавлено в = <span style="color: #FFFFFF"  th:text="${task.taskUploadTime}"></span><br>
    В работе = <span style="color: #FFFFFF" th:text="${task.worked}"></span><br>
    <form th:action="@{/list/take/{id}(id = ${task.taskId})}" method="post">
      <input type="submit" value="Взять в работу">
    </form>
  </div>

</div>

</body>
</html>