<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Загрузка обращения</title>
</head>
<body>
<form method="post"
      th:object="${taskBody}"
      th:action="@{/upload}"
      style="border: 1px dashed #FFFFFF; background-color: #0E0F1C; padding: 10px"
      enctype="multipart/form-data">
  <br><br>
  <input type="text" th:field="*{taskTitle}" placeholder="Заголовок"> <br><br>
  <input type="text" th:field="*{taskDescription}" placeholder="Описание"> <br><br>
  <select th:field="*{taskCategory}">
    <option value="eco">eco</option>
    <option value="urban">urban</option>
  </select> <br><br>
  <input type="file" name="file">
  <button type="submit">Отправить</button>
</form>
</body>
</html>